.pagination_pages {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  justify-content: center;
}

.pagination_page {
  color: black;
}

.pagination_page_active {
  color: black;
  background-color: rgb(243, 237, 153);
}
