.todopage {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 10px;
}

.todopage > * {
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
}

@media (min-width: 600px) {
  .todopage {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 900px) {
  .todopage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .todopage {
    grid-template-columns: repeat(4, 1fr);
  }
}
