.filter {
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.filter_label {
  margin-right: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.filter_select {
  border: none;
  outline: none;
  font-size: 1rem;
}
