:root {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  --primary-blue: #1b3380;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.common_btn {
  max-width: 200px;
  padding: 5px 10px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms;
}

.common_btn:hover {
  background-color: darkgray;
}

.common_link {
  color: black;
  text-decoration: none;
}
